# Ignore node_modules directory
node_modules/

# Optional: Exclude logs and other build files
logs/
*.log
npm-debug.log*

# Dependency directories should be ignored
# Remove the comments for the package-lock.json and yarn.lock files
# if you're using npm or Yarn respectively
# package-lock.json
# yarn.lock

# Ignore environment-specific files
.env

# Ignore any local configuration or secrets
config.js
secrets.json

# Ignore built files or artifacts
/build
/dist
